h2 {
	text-align: center;
}
table {
    border-collapse: collapse;
    margin: 0 auto;
}
td {
    width: 80px;
    height: 80px;
    text-align: center;
    vertical-align: middle;
    border: 2px solid black;
}
.x {
    color: blue;
    font-size: 66px;
}
.o {
    color: red;
    font-size: 66px;
}
.win {
    background-color: yellow;
}
.container {
    display: flex;
    flex-direction: column;
}
#reset {
    margin: 38px 40%;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
}
